.cardsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 10px;
  padding: 0 5vw;
}

.card:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.card {
  z-index: 5;
}


